@using Microsoft.JSInterop;
@using Newtonsoft.Json;
@using SemesterProjekt3Web.Models;
@model SemesterProjekt3Web.Models.Showing

@{
    ViewData["Title"] = "Seats";
    HttpClient client = new HttpClient();

    var respTask = client.GetAsync($"https://localhost:7155/api/showings/booked/{Model.ShowingId}");
    respTask.Wait();
    StreamReader sr = new(respTask.Result.Content.ReadAsStream());
    string stringResult = sr.ReadToEnd();
    sr.Close();
    List<Seat> bookedSeats = JsonConvert.DeserializeObject<List<Seat>>(stringResult);
    string showing = JsonConvert.SerializeObject(Model);
}

<div class="row">
    <div class="col-12">
        <h1 class="text-center">Seats</h1>
    </div>
</div>

<div class="row">
    <div class="col-auto">
        Tickets
        <div class="row">
            <div class="col-auto">
                <h6 style="margin-top:10px">@Model.MovieCopy.Price dkk/billet</h6>
                <!-- Implementer den tager prisen fra showing -->
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" id="minus-ticket-button">-</button>
            </div>
            <div class="col-auto">
                <p style="margin-top:10px" id="seatAmountText" value=1> 1 </p>
                <var id="seatAmount" value=1></var>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" id="plus-ticket-button">+</button>
            </div>
        </div>
        <form name="seats" action="@Url.Action("CustomerInfo", "Booking")" method="post" id="myForm">
            <div class="row">
                <div class="col">
                    <input type="hidden" id="myListInput" name="myListInput" />
                    <input type="hidden" id="showing" name="showing" value="@showing"/>
                    <button type="button"class="btn btn-success" id="submit-seat-selection">Godkend</button>
                </div>
            </div>

        </form>
    </div>
    <div class="col offset-1 seat-section">
        <div class="row">
            <div class="col-12">
                <h6 class="text-center">
                    Vælg siddepladser
                </h6>
            </div>
        </div>

        <div class="row">
            @if(Model != null)
            {
                <div class="col">
                    <div class="row">
                        <div class="col-auto">
                            @for(int i = 1; i<=Model.ShowRoom.GetAmountOfRows(); i++)
                            {
                                <ul class="list-group list-group-horizontal">
                                    @for(int j = 0; j < Model.ShowRoom.Seats.Count(); j++)
                                    {
                                        if(Model.ShowRoom.Seats[j].RowNumber == i)
                                        {
                                            <li class="list-group-item" style="width:50px" value="@Model.ShowRoom.Seats[j].SeatId" id="@Model.ShowRoom.Seats[j].SeatId" data-is-reserved="false" >@Model.ShowRoom.Seats[j].SeatId</li>
                                        }
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                </div>
                
                @for(int i = 0; i < Model.ShowRoom.Seats.Count(); i++)
                {
                    @for(int j = 0; j < bookedSeats.Count(); j++)
                    {
                        if(Model.ShowRoom.Seats[i].SeatId == bookedSeats[j].SeatId)
                        {
                            <text>
                                <script>
                                var element = document.getElementById(@Model.ShowRoom.Seats[i].SeatId);
                                    element.classList.add('list-group-item-danger');
                                    element.setAttribute("data-is-reserved", "true");
                                </script>
                            </text>
                        }
                    }
                }
                
            }
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js%22%3E"></script>

<script>

    $(document).ready(function(){
        
        var amountOfTickets = 1;
        var amountOfTicketsAvailable = @Model.ShowRoom.Seats.Count() - @bookedSeats.Count();
        var amountOfSeatsChoosen = 0;

        $('.list-group-item').on('click', function(){
            var isReserved = $(this).attr('data-is-reserved');
            if (isReserved == "false" && amountOfSeatsChoosen < amountOfTickets || isReserved == "false" && $(this).hasClass('list-group-item-success')) {
                var itemId = $(this).attr('id');
                $('#' + itemId).toggleClass('list-group-item-success');
                amountOfSeatsChoosen = $('.list-group-item-success').length;
            }
            
        });

        $('.list-group-item').on('mouseenter mouseleave', function(){
            var isReserved = $(this).attr('data-is-reserved');
            if (isReserved == "false" && amountOfSeatsChoosen < amountOfTickets || isReserved == "false" && $(this).hasClass('list-group-item-success')) {
                var itemId = $(this).attr('id');
                $('#' + itemId).toggleClass('list-group-item-secondary');
            }
        })

        $('#plus-ticket-button').on('click', function(){
            if(amountOfTickets < amountOfTicketsAvailable){
                amountOfTickets++;
                $('#seatAmountText').html(amountOfTickets);
            }
        });

        $('#minus-ticket-button').on('click', function(){
            if (amountOfTickets > 1 && amountOfSeatsChoosen < amountOfTickets) {
                amountOfTickets--;
                $('#seatAmountText').html(amountOfTickets);
            }
        });

        $('#submit-seat-selection').on('click', function (){
            if(amountOfTickets == amountOfSeatsChoosen){

                var seatIds = $(".list-group-item-success").map(function(){
                    return this.value;
                }).get();


                document.getElementById("myListInput").value = JSON.stringify(seatIds);
                document.forms[0].submit();
                document.forms[1].submit();

            }
            
        });


    })
</script>


