@using SemesterProjekt3Api.Model;
@model SemesterProjekt3Api.Model.MovieInfo

@{
    ViewData["Title"] = "Forside";
}

<h1>Velkommen til Vestbjerg Bio!</h1>




    <div>
                <dl class="row">
            <div class="col" >
                    <dt>Længde: @Html.DisplayFor(model => model.Length)</dt>
                    <dt>Genre: @Html.DisplayFor(model => model.Genre)</dt>
                    <dt>Aldersgrænse: @Html.DisplayFor(model => model.PgRating)</dt>
                    <dt>Udgivelsesdato: @Html.DisplayFor(model => model.PremiereDate)</dt>


            </div>
            <div class="col">
                <dd>
                    <img src="https://m.media-amazon.com/images/I/71HQiOZsZ6L._AC_UF894,1000_QL80_.jpg" width="330" height="480" class="img-responsive">
                </dd>
                <dd>
                    <a href="https://viaplay.dk/film/shrek-2-2004" title="Shrek 2"><button class="btn btn-lg col-6 button-color text-white" type="submit">Check forestillinger</button></a>
                </dd>
            </div>
            </dl>


    </div>

<dl class="row">
    <div class="col">
        <dt>Længde: @Html.DisplayFor(model => movie.Length)</dt>
        <dt>Genre: @Html.DisplayFor(model => movie.Genre)</dt>
        <dt>Aldersgrænse: @Html.DisplayFor(model => movie.PgRating)</dt>
        <dt>Udgivelsesdato: @Html.DisplayFor(model => movie.PremiereDate)</dt>


    </div>
    <div class="col">
        <dd>
            <img src="https://m.media-amazon.com/images/I/71HQiOZsZ6L._AC_UF894,1000_QL80_.jpg" width="330" height="480" class="img-responsive">
        </dd>
        <dd>
            <a href="Api/movies/@movie.Id" title="Shrek 2"><button class="btn btn-primary btn-lg col-6" type="submit">Check forestillinger</button></a>
        </dd>
    </div>
</dl>

    }
</div>



