@using SemesterProjekt3Web.Models;
@model IEnumerable<SemesterProjekt3Web.Models.MovieInfo>

@{
    ViewData["Title"] = "Forside";
}

<h1>Velkommen til Vestbjerg Bio!</h1>
<p style="font-size:22px">Vælg en af vores film for at se dens forestillinger</p>
@foreach (MovieInfo movie in Model)
{
    <div>
        <br>
        <dl class="row">
            <div class="col text-center">
                <dd>
                    <a href="api/Movies/@movie.InfoId/showings" title="@movie.Title"><img src="https://i.redd.it/ipm79fj8h7ja1.png" width="420" height="630" class="img-responsive"></a>
                </dd>
                <dd>
                    <a href="api/Movies/@movie.InfoId/showings" title="@movie.Title"><button class="btn btn-lg col-7 button-color text-white" type="submit" style="height:70px;font-size:25px">Check forestillinger</button></a>
                </dd>
            </div>
            <div class="col" style="font-size:30px;padding-top:12em">

                <div class="round-corners1" style="background-color:#313740;">
                    <dt>Titel: @Html.DisplayFor(modelItem => movie.Title)</dt>
                    <dt>Længde: @Html.DisplayFor(modelItem => movie.Length) minutter</dt>
                    <dt>Genre: @Html.DisplayFor(modelItem => movie.Genre)</dt>
                    <dt>Aldersgrænse: @Html.DisplayFor(modelItem => movie.PgRating) år</dt>
                    <dt>Udgivelsesdato: @movie.PremiereDate.Day/@movie.PremiereDate.Month/@movie.PremiereDate.Year</dt>
                    <dt>Udgivelsesdato: @movie.InfoId</dt>
                </div>

            </div>
        </dl>
        <hr class="hr" style="border:2px solid grey" />
    </div>
}





