@model IEnumerable<SemesterProjekt3Web.Models.Showing>

@{
    ViewData["Title"] = "Showings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Forestillinger for @Model.First().MovieCopy.MovieType.Title</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Datoer:
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsKidFriendly)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.IsKidFriendly)
            </td>

        </tr>
}
    </tbody>
</table>
